.cursor{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--purple);
    display:block;
    position: absolute;
    top: 0px;
    left: 0px;
    mix-blend-mode:difference;
    z-index: 9999;
    
}