.SkillsContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:10%;
    border:2px solid var(--grey);
    border-radius:30px;
    padding:10%;
    
}


@media only screen and (max-width: 700px) {
    .SkillsContainer{
        display:inline-block;
        padding: 7%;
    }
}