.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
  list-style-type: none;
}
ul {
  margin: 30px;
}
li {
  display: inline;
  margin: 30px;
  font-size: 1.4gitrem;
  font-weight: 800;
  line-height: 1.125;
  letter-spacing: 0em;
  text-align: left;
  transition: 0.3s ease;
  color: var(--purple);
  text-decoration: none;
}
li:hover {
  border-bottom: 6px solid var(--purple);
}
li:last-child:hover {
  border-bottom: 0px solid var(--purple);
}
.logo {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 0px;
  margin-left: 50px;
}

@media screen and (max-width: 830px) {
  ul {
    display: none;
  }

  .logo {
    position: relative;
  }

  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
}
