.calloutContainer{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	text-align: center;
	background-image:url(../../Assets/wave.svg);
	background-size: contain;
    padding: 20px 0px ;
	color: var(--white);

}


@media screen and (max-width: 750px) {
	.calloutContainer{
	padding: 7%;
	}
  }
  