.footer_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.start_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  width: 80%;
  background: #141c3a;
  padding: 30px;
  color: var(--white);
  border-radius: 30px;
  bottom: 00px;
  margin-bottom:-7%;
  z-index: 5;
}
.level-item {
  width: 300px;
}

.footer {
  z-index: -5;
  color: #e6ecf8;
  width: 100%;
  background: var(--purple);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height: 500px;
}
@media screen and (max-width: 900px) {
  .start_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom:-30%;
  }
}

.fontsize{
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}


